.bg-primary-color {
	background-color: #edece8;
}
.bg-secondary-color {
	background-color: #b4a39a;
}
.primary-color {
	color: black;
}
.secondary-color {
	color: #edece8;
}
.btn {
	padding: 0.3em 0.8em;
	font-size: 1em;
	margin-top: 1em;
}
p {
	color: gray;
}
.title {
	font-size: 1.5em;
	position: relative;
}
.title:before {
	bottom: 2em;
	width: 75px;
	border: 2px solid gray;
	border-radius: 100px;
	content: "";
	position: absolute;
}

/* links navbar */

.anchor-slider{
  position:absolute;
  top: 0;
}
.anchor-planos{
  display: block;
  position:absolute;
  top:40%;
  visibility: hidden;
}
.anchor-designer{
  display: block;
  position:absolute;
  top: 84%;
  visibility: hidden;
}
@media (min-width: 1024px) {
	.anchor-planos{
    top: 50%;
  }
}
@media (min-width: 1440px) {
	.anchor-planos{
    top: 60%;
  }
}
@media (min-width: 2560px) {
	.anchor-planos{
    top: 80%;
  }
}

/* Navbar */
#navbar a:hover {
	color: gray;
}
#navbar a.active {
	border-bottom: 2px solid black;
}
.navbar-brand img {
	width: 40px;
}
#navbar-items .navbar-nav {
	display: flex;
	justify-content: center;
	width: 100%;
}
#navbar-items .navbar-item {
	margin: 0 1.5em;
}

/* Carrocel */
#slider {
	margin-bottom: 1em;
}
#slider .carousel-caption {
	bottom: 4em;
}
#slider .carousel-caption h5 {
	font-size: 1.5em;
	text-shadow: black 1px 1px;
}
@media (min-width: 768px) {
	#slider .carousel-caption {
		bottom: 15em;
	}
	#slider .carousel-caption h5 {
		font-size: 3em;
	}
	#slider .btn {
		padding: 0.6em 1.6em;
		font-size: 1.2em;
		margin-top: 1em;
	}
	.carousel-indicators {
		bottom: 7em;
	}
}

/* Planos */
#banners {
	margin-bottom: 3em;
}
#banners .card {
	padding: 1em 0.3em;
	margin-bottom: 1em;
}
#banners i {
	font-size: 3em;
}
#banners h5 {
	margin-bottom: 1em;
}
@media (min-width: 768px) {
	#banners {
		margin-top: -6em;
	}
}

/* Projetos Destacados */
#projetos-imagens {
	margin-top: 2em;
}
#projetos-imagens .col-md-4 {
	position: relative;
	cursor: pointer;
}
#projetos-imagens .col-md-4:hover .projeto-banner {
	opacity: 0.7;
}
#projetos-imagens .projeto-banner {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #edece8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
	transition: 0.5;
}

@media (min-width: 768px) {
	#projetos-imagens .projeto-banner {
		opacity: 0;
	}
}

/* Designer */
#designer {
	padding: 4em 0.75em;
}
#designer-foto {
	align-items: center;
	display: flex;
	margin-bottom: 1.5em;
}
#designer-foto img {
	border-radius: 400px;
}
#designer-descricao {
	background-color: #ecebe2;
	padding: 4em 1em;
	text-align: justify;
}
@media (min-width: 768px) {
	#designer-descricao {
		padding: 3em;
	}
	#designer-foto {
		margin-bottom: 0;
	}
}

/* Footer */
#footer {
	padding: 3em 0.75em;
}

/* Footer-top */
#footer-top {
	margin-bottom: 2em;
}
#footer-top,
#footer-top i {
	color: white;
}
#redes-sociais {
	text-align: right;
}
#redes-sociais i {
	font-size: 1.5em;
	cursor: pointer;
}
#contato,
#cadastro,
#test {
	padding: 0;
	border: 0;
	margin-bottom: 2em;
}

/* Footer-detalhes */
#footer-detalhes h4 {
	color: #fff;
	margin-bottom: 1.5em;
}
#cadastro input {
	border: none;
}
@media (min-width: 768px) {
  #redes-sociais i {
    margin-right: 0.45em;
  }
	#cadastro {
		padding-right: 2em;
	}
	#contato {
		padding: 0 2em;
		border-left: 2px solid #7a7a7a;
		border-right: 2px solid #7a7a7a;
	}
	#test {
		padding-left: 2em;
	}
	#dev-gean {
		text-align: right;
	}
}

/* Footer-bottom */
#footer-bottom {
	border-top: 1px solid #7a7a7a;
	padding-top: 2em;
}


#pagina {
	height: 650px;
	width: 100%;
}